body {
  background-color: #0B182E;
}

#stats-wrapper {
  display: flex;
  color: white;
  margin-top: 1vh;
  margin-left: 2.5vw;
  margin-bottom: -9vh;
}

.stats-item {
  display: flex;
  flex-direction: column;
  padding-right: 2em;
  text-align: center;
}

.stats-name {
  text-decoration: underline;
  font-weight: bold;
}

.chart-wrapper {
  background-color: black;
  padding: 20px 0;
  margin: 2vh auto 0;
  width: 90vw;
  height: 68vh;
  border-radius: 15px;
}

#recenter-graph-button {
  margin-top: -5vh;
  margin-left: 3vw;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 1vh 1vw;
}

#refresh-graph-icon {
  height: 3vh;
}

#refresh-graph-tooltip {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1em;
  transition: opacity 0.1s;
  opacity: 0;
  animation: fadeIn 0.1s forwards;
  margin-left: -3vw;
  margin-top: -4.8vh;
}

#invalid-ticker-tooltip {
  margin-top: 0.3em;
  color: red;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding-top: 1.5em;
  color: white;
}

.form-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-name {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 1em;
}

#option-type-wrapper {
  display: flex;
  justify-content: space-between;
}

.option-type-item {
  display: flex;
  flex-direction: column;
}

#stock-ticker-input {
  border-radius: 10px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  border: none;
  height: 2em;
  width: 6em;
}

.btn-search {
  background-color: #23395D;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
  padding: 1vh 2vw;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
}

.btn-search:hover {
  background-color: #1b2d49;
}

