.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #4caf50;
}

.slider {
  width: 200px;
  margin: 0;
}

.tree {
  margin: 0.5vh 0.5vw;
}

.node circle {
  fill: #4caf50;
  stroke: #4caf50;
  stroke-width: 1px;
}

.link path {
  stroke: #4caf50;
}